@mixin flexbox(){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 0;
}
@mixin lato {
	font-family: 'Lato', sans-serif;
}
@mixin lora {
	font-family: 'Lora', serif;
}